@font-face {
    font-family: 'montserratblack';
    src: url('../fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold_0-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratextra_bold';
    src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemi_bold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratultra_light';
    src: url('../fonts/montserrat-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {font-family: 'montserratlight';font-size: 14px;overflow-x: hidden !important;	color: #6b7073;}

ul{	padding: 0;	margin: 0;	list-style: none;}

a{ 	text-decoration: none;	color: #2f2f2f;  }

a:focus{	outline: none;	text-decoration: none;}

h1,h2,h3,h4,h5,h6{	font-family: "montserratlight";}

h2 {	font-size: 30px;	line-height: 40px;	margin: 0;	padding-bottom: 10px;  }

img{ border:none;}

select { background:url("../images/ddarw1.png") no-repeat!important; background-position:91% center!important;
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   
}

::-webkit-input-placeholder {   color:#000!important;}

:-moz-placeholder { /* Firefox 18- */   color: #000!important; }

::-moz-placeholder {  /* Firefox 19+ */   color: #000!important;  }

:-ms-input-placeholder {     color: #000!important;  }

/* Preloader */

#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */ 
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(../images/loader.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/*scrol to top*/

.scrollToTop {
  bottom: 60px;
  display: none;
  font-size:19px;
  line-height:39px;
  font-weight: bold;
  height:39px;
  position: fixed;
  right: 50px;
  text-align: center;
  text-decoration: none;
  width:39px;
  z-index: 999;
  color: #a7b4bd;    
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.scrollToTop:hover,
.scrollToTop:focus{ color: #a7b4bd;   background-color: #1c2a35;  text-decoration: none;  outline: none;}

/*--------------------*/
/* Header New Style */
/*--------------------*/

.header.hdr3 {  margin-top: 0;}

.hdr3 .logo2 { display: inline-block;  margin: 20px 0 0;}

.msgnb2 { background: #ff4646;  border-radius: 50%;  color: #fff;  display: inline-block;  font-family: montserratregular; font-size: 14px; height: 18px; line-height: 18px;
  position: absolute;  text-align: center;  top: -8px;  width: 18px;}

.hdr3 .usrimg {  margin-left: 20px;}

.hdr3 .navtop {  margin: 13px 0 19px;}

.aftlgnimg {  margin: 0 0 0 18px;}

.aftlgnimg a.dropdown-toggle {  text-decoration: none !important;}

.navbar-nav > li > .dropdown-menu li {  padding: 0;}

.navbar-nav > li > .dropdown-menu > li > a {color: #47494b;  font-family: 'montserratlight';   font-size: 13px;  padding: 8px 20px;
-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;}

.navbar .dropdown-menu {  min-width:157px;  padding: 11px 0;  left: 0; border: medium none;}

.navbar ul.dropdown-menu:before { content:""; position:absolute; left: 16px; top: -10px; width: 0;height: 0;border-style: solid;border-width:0 10px 10px;border-color: transparent transparent #ffffff transparent; }

.navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-nav > li > .dropdown-menu > li > a:focus{	background-color: transparent;	}

.aftlgnimg > a, .aftlgnimg > a label { text-decoration: none; cursor: pointer;  text-transform: none; font-family: 'montserratregular'; color: #0c0c0c !important;
 font-size: 14px !important;  padding: 2px 0 !important;  font-weight:normal;}

.aftlgnimg span {  border-radius: 50%;  display: inline;  height: 42px;  margin: 0 6px 0 0;  overflow: hidden;  width: 42px;}

.aftlgnimg .dropdown-menu li a img { margin: 0 13px 0 0;}

.aftlgnimg .dropdown-menu li a:hover {   color: #47494b !important; text-decoration:none!important;}

.aftlgnimg ul.dropdown-menu::before {  left: auto!important;  right: 20px!important;}

.aftlgnimg .dropdown-menu { border-top:0!important;  left: auto!important;  margin: 7px 0 0!important;  padding:15px 8px !important;}




/*--------------------*/
/* Header New End */
/*--------------------*/




/*--------------------*/
/* Home Page Style */
/*--------------------*/


.lgnbtns.usrimg {  padding-top: 5px;}

.lgnbtns.usrimg > span {  border-radius: 50%;  display: inline-block;  height: 42px;  width: 42px;}

.lgnbtns.usrimg a {  border: medium none;  padding: 0;}

.lgnbtns.usrimg a:hover {  border: medium none;  color: #0c0c0c;  background:none;}

#homepage { background: rgba(0, 0, 0, 0) url("../images/homepagebg.png") no-repeat; background-attachment:fixed; background-size:cover; }

.header { margin: 35px 0 0;}

.navtop {  margin: 13px 0 40px;  text-align: right;}

.tpnav { margin: 0 15px 0 0;   display: inline-block;}

.tpnav li { display: inline-block; margin: 0 15px;}

.tpnav li a { color: #0c0c0c; font-size: 15px;}

.langsec { display: inline-block;}

.header .navbar { top: 5px;  border: medium none;  border-radius: 0;  display: inline-block;  float: none;  margin-bottom: 0;  min-height: 0;  padding: 0;  width: auto;}

.header .navbar-nav li { display: inline-block;  float: none;}

.header  .navbar-nav > li > a { padding: 0 18px;}

.header .nav > li > a:hover, .header .nav > li > a:focus { background-color: transparent; text-decoration: underline; color: #2f2f2f;}

.lgnbtns.tplgbtn {  display: inline-block;  float: none;  padding: 0;  width: auto;}

.navbar button.navbar-toggler {  border: 2px solid #565656;  border-radius: 5px;  color: #565656;  display: block;  font-size: 24px;  height: 34px;  margin: 0 0 0 8px;  padding: 0;
  position: relative;  top: 7px;  width: 40px;}


.nav-top { bottom:41px; display: inline-block;  position: absolute;  right: 21%;}

.nav-top > li {  display: inline-block;  margin: 0 15px;}

.nav-top li a {  color: #0c0c0c;  font-size: 15px;}

.lnglgnsec {  float: right;  position: absolute;  right: 20px;  text-align: right;  top: 0;  width: 200px;  z-index: 999;}

.langsec label { font-family: 'montserratregular';  font-weight: normal;  color: #0c0c0c;  font-size: 14px;  margin: 0 8px 0 0; position: relative;   top: 1px;}

.langsec .dropdown {  border: medium none;  display: inline;  width: 45px;}

.langsec .dropdown button {  background: transparent none repeat scroll 0 0 !important;  border: medium none !important;  padding: 0;}

.langsec .dropdown button img {  margin: 0 9px 0 0;}

.langsec ul.dropdown-menu {  border-radius: 0;  float: left !important;  left: auto;  margin: 3px 0 0;  min-width: auto !important;  padding: 0;  right:6px !important;  width: 40px !important;}

.langsec ul.dropdown-menu li > a {  padding: 1px 9px;   border-bottom: 1px solid #ededed;}

.lgnbtns {  padding: 28px 0 0;}

.lgnbtns > a { font-family: 'montserratregular';  font-weight: normal;  border: 2px solid #565656;  border-radius: 6px;  color: #0c0c0c;  display: inline-block;  font-size: 15px;  height: 34px;  line-height: 30px;  padding: 0 12px;   margin: 0 0 0 7px;   text-decoration: none;}

.lgnbtns > a:hover { background:#565656; color:#fff; }

.serin {  padding: 0 10px;}

.serdtl {  float: none;  margin: 50px auto 0;}

.srvcsbg {  background: rgba(245, 174, 78, 0.80);  border-radius: 5px;  min-height: 138px;  padding: 12px 39px;}

.serin ul li {  color: #000;  font-size: 14px;  line-height: 22px;  list-style: initial;  margin: 0 0 12px;  padding: 0 0 0 7px;}

.formsection {  float: left;  margin: 30px 0 0;  width: 100%;}

.srcform {  float: none;  margin: 0 auto;  text-align: center;}

.srcform form .form-group {  float: left;  margin: 0 0 21px;  width: 100%;}

.srcform form .form-group label { font-family: 'montserratregular';  font-weight: normal;  color: #000;  font-size: 19px;  margin: 0;  padding: 0;  text-align: left;   line-height: 44px;}

.srcform form .form-group .col-sm-3 {  padding: 0 6px;  width: 30%;}

.srcform form .form-group input {  border: medium none !important;  box-shadow: 0 1px 8px #909090;  color: #000 !important;  font-size: 14px !important;  height: 44px !important;}

.srcform form .form-group select { width:100%; background-color: #fff !important; border-radius: 4px;  padding: 6px 12px;  border: medium none !important;  box-shadow: 0 1px 8px #909090;  color: #000 !important;  font-size: 14px !important;  height: 44px !important;}

.srcform form .form-group select option{   padding: 6px 12px;  color: #000 !important;}

.srcform form .form-group input::-webkit-input-placeholder {   color:#000!important;}

.srcform form .form-group input:-moz-placeholder { /* Firefox 18- */   color: #000!important; }

.srcform form .form-group input::-moz-placeholder {  /* Firefox 19+ */   color: #000!important;  }

.srcform form .form-group input:-ms-input-placeholder {     color: #000!important;  }

.frmdrbtns {  float: left;  padding: 0 0 0 48px;  width: 100%;}

.frmdrbtns a { text-decoration: none;  background: #000;  border-radius: 5px;  color: #fff;  display: inline-block;  font-family: "montserratregular";  font-size: 18px;  height: 49px;  line-height: 49px;  margin: 0 5px;  text-shadow: 1px 1px 1px #a0a0a0;  width:46%;}

.frmdrbtns a.drvbtn {  background: #f49a1e!important; }

.frmdrbtns a.drvbtn:hover { background: #e08a12!important; 
}
.frmdrbtns a.secdrvbtn:hover { background: #282828!important; }

.abotsection {  padding: 0 22px;  float: left;  margin:47px 0 0;  width: 100%;}

.abutin { padding: 34px 20px;  background: rgba(255, 255, 255, 0.65);  border-radius: 5px;  float: none;  margin: 0 auto;  text-align: center;}

.abutin p { font-family: 'montserratlight';  color: #000;  font-size: 16px;  line-height: 24px;  margin: 0;}

.dtprvcyot { margin:0 auto; float:none; padding:0;}

.dtprvcy { background: rgba(255, 255, 255, 0.65) none repeat scroll 0 0;  border-radius: 5px;  float: left;  margin: 40px 0 50px; padding: 34px 20px 55px; text-align: center; 
width:100%;}

.dtprvcy .title-area {  padding:0 50px 15px;}

.dtprvcy .title-area .title {  color: #212121;  font-size: 25px;}

.dtprvcy .title-area .line {  background-color: #f49a1e;  display: inline-block;  height: 1px;  width: 75px;}

.cldlogoimg {  margin: 9px 0 0;}

.cldlst li::before { background: rgba(0, 0, 0, 0) url("../images/ckbtck.png") no-repeat scroll 0 0; content: ""; height:14px; left: 18px; position: absolute; top: 6px;
  width:16px;}

.cldlst li {  position: relative;  color: #000000;  font-size: 14px;  line-height: 22px;  padding: 0 0 15px 50px;  text-align: left;}

.ddwnprbtn > a { font-family: 'montserratregular'; text-decoration: none;  background: #f49a1e;  border-radius: 4px;  color: #fff;  display: inline-block; font-size: 16px;
  height: 44px;  line-height: 44px;  margin: 15px 0 0;  width: 334px;}

.addsection {  margin: 55px 0 30px;  text-align: center; padding: 0 97px;}

.addsection img { display:inline; width: 100%;}

.footin {  float: left;  padding: 5px 10% 20px;  width: 100%;}

footer p { font-family: 'montserratregular';  color: #000;  font-size: 13px;  margin:17px 0 45px;  text-align: left;}

.cpyryt {  color: #2d3235;  font-size: 13px;  margin:7px 0 0;}

.cpyryt > a, .cpyryt > a:hover { color: #2d3235; text-decoration: none;  font-family: 'montserratregular';  margin: 0 22px;}

.soclicons label {  color: #2d3235;  font-family: montserratlight;  font-size: 13px;  font-weight: normal;  margin: 0;}

.soclicons > li {  display: inline;}

.soclicons {  text-align: right;}


/*--------------------*/
/* Buyer Profile */
/*--------------------*/


header { background-color:#f7fafc;  padding: 15px 0;  position: fixed;  top: 0;  width: 100%;  z-index: 99;}

header.stick {  box-shadow: 0 0 15px #6f6f6f;
	-webkit-transition:all 0.5s ease 0.5s;
	-o-transition:all 0.5s ease 0.5s;
	transition:all 0.5s ease 0.5s;}

header .nav-top { margin: 17px 0 0;
  bottom: auto;
  position: unset;
  right: auto;
  top: auto;
}	

.msgnb {
  background: #ff4646;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: montserratregular;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 18px;
}	
	
header .lgnbtns { padding: 10px 0 0; float: right;}

header .infnav {  text-align: right;}

#headrbotm {    padding-top: 195px;}

.title-area {  display: inline;  float: left;  padding: 0 150px;  text-align: center;  width: 100%;}

.title-area .title {  color: #141414;  font-family: "montserratlight";  font-size: 24px;  font-weight: lighter;  line-height: 25px; padding: 0 0 3px;}

.title-area .line {  background-color: #cccccc;  display: inline-block;  height: 1px;  width:67px;}

.bystep { border: 1px solid #d1dbe1;  margin:28px auto;  width: 390px;}

.bystep li {border-right: 1px solid #d1dbe1;  display: inline-block;}

.bystep li:last-child {border-right:none;  }

.bystep li a { text-decoration: none; color: #312f2f;  display: inline-block;  font-size: 16px;  margin: 0;  padding: 10px;width: 186px; font-family: 'montserratregular';}

.byfrmot { padding:0;  margin-bottom: 106px;  margin-top: 10px;}
 
.lftbar { padding-left:0; margin-top: 15px;}

.uplsec > span {  border-radius: 50%;  display: inline-block;  height: 134px;  overflow: hidden;  width: 134px;}

.uplbtnmn {  bottom: 22px;  height: 48px;  margin:-17px auto 0;  overflow: hidden;  position: relative;  right: -49px;  width: 48px;}

.uplbtn > input { padding: 6px 0;  cursor: pointer;  opacity: 0;  position: relative;  z-index: 99;}

.uplbtn > img {  left: 0;  position: absolute;  top: 0;}

form .form-group label { color: #312f2f;  font-size: 16px;  font-weight: normal;  margin: 0 0 10px; font-family: 'montserratlight';}

form .form-group .form-control { border: 1px solid #a2a7ae;  border-radius: 6px;  color: #949494;  font-size: 14px;  height: 50px; box-shadow: none; padding: 6px 15px;}

form .form-group .form-control::-webkit-input-placeholder {   color:#949494!important;}

form .form-group .form-control:-moz-placeholder { /* Firefox 18- */   color: #949494!important; }

form .form-group .form-control::-moz-placeholder {  /* Firefox 19+ */   color: #949494!important;  }

form .form-group .form-control:-ms-input-placeholder {     color: #949494!important;  }

.lftbar p { font-family: 'montserratlight'; color: #000000; font-size: 14px; line-height: 20px; margin: 20px 0;  padding:0 30px 0 19px;}

form .form-group select{ background:rgba(0, 0, 0, 0) url("../images/slctarw.png") no-repeat scroll 91% center !important;}

form .form-group  select.form-control option { color: #949494; font-family: "montserratlight";  font-size: 14px;  font-weight: normal; padding: 6px 15px;}

.padd { padding:0; }

.padd-right { padding-right:0; }

.padd-left { padding-left:0; }

.rgtbar {  padding-right: 0;}

.imgs1 {  border-radius: 3px;  overflow: hidden;}

.imgs1 span img {  width: 100%;}

.imupbtn { border-radius: 0 0 3px;  bottom: 0;  height: 30px;  overflow: hidden;  position: absolute;  right:16px;  width: 30px;}

.imupbtn > img {   position: absolute;}

.imupbtn > input {  opacity: 0;  padding: 4px 0;  position: relative;}

.mesuresec {  float: left;  margin:22px 0 0;  width: 100%;}

/* .mesuresec .col-xs-2.form-group {  width: 20%;} */

.ctgrys {  float: left;  margin:11px 0 11px;  width: 100%;}

form .form-group textarea.form-control {  min-height: 151px;}

.frmsec {  margin-bottom: 3px;}

form .form-group.prcsec label {  font-size: 18px;}


.accprbtn a  {  background:#ffaf42;  border-radius: 5px;  color: #000;  display: inline-block;  font-family: "montserratregular";  font-size: 18px; height: 49px; line-height: 49px;
  margin:0;  text-decoration: none;  text-shadow: 1px 1px 1px #a0a0a0;  width:100%;  text-align:center;}

.askbtn a {  background:#131313;  border-radius: 5px;  color: #fff;  display: inline-block;  font-family: "montserratregular";  font-size: 18px;  height: 49px;  line-height: 49px;
  margin:0;  text-decoration: none;  text-shadow: 1px 1px 1px #a0a0a0;  width:100%;  text-align:center;}

.prcsec {  margin-bottom: 24px;}


.rgtbarnw { margin-top: 176px; }

.rgtbarnw h5 { font-size: 16px;  color: #312f2f;  font-family: montserratregular;}

.bypftbl .table {  border-top: 1px solid #d8dcde;}

.bypftbl .table tr th { background: #f1f5f7; border-color: #d8dcde; border-style: solid; border-width: 0 1px !important; color: #312f2f; font-family: montserratregular;
  font-size: 15px; font-weight: normal;  padding: 15px 5px;  text-align: center;  text-transform: uppercase;}

.tableinhd {  width: 100%;}

.tableinhdtp > td {  background: #f7fafc;  border-color: #d8dcde;  border-style: solid;  border-width: 1px 1px 0 !important;}

.tableinhd tr th {  background: transparent none repeat scroll 0 0 !important;  border: medium none !important;  color: #312f2f !important;  font-family: 'montserratbold'!important;
  font-size: 11px !important;  padding:3px 10px !important;}

.bypftbl .table tbody tr td {  border-color: #d8dcde;  border-style: solid;  border-width: 1px;  font-size: 13px;  vertical-align: middle !important; color: #313131;}

.itmimgtd {  padding:15px 5px 3px !important;}

.itmimg { margin: 0 1px 0 0;  display: inline-block;  height: 56px;  width: 50px;}

.itmimg img { width:100%;}

.tblindata {  width: 100%;}

.tblindata td {  border: medium none !important;  padding: 0 !important;}

.bypftbl { border-width: 0 1px;}

.aditms { padding: 22px 40px 0;}

.additbtn, .additbtn:hover { font-family: 'montserratsemi_bold';  color: #c77c16;  font-size: 12px; text-decoration: underline;  display: block;padding: 0 14px 15px;}

.additbtn > img {  display: inline-block;  margin: -1px 8px 0 0;}








/*--------------------*/
/* Login */
/*--------------------*/

#login { background-color:#f5f7fa; }

.sgin { background-color: #fff; float: none;  margin: 52px auto;  padding: 50px 67px;  width: 430px;  box-shadow: 0 0 8px #d9d9d9;}

.sgin form h5 { font-family: 'montserratregular';  color: #222222;  font-size: 15px;  letter-spacing: 4px;  margin: 0 0 25px;  text-align: center; text-transform: uppercase;}

.sgin form .form-group .form-control {  border: 2px solid #d6d9de;  border-radius: 6px;  box-shadow: none;  color: #949494; font-size: 14px; height: 50px; padding:6px 15px 6px 40px;}

.sgin form .form-group span { left: 22px;  position: absolute;  top: 12px;}

.sgin form .form-group a.btn { font-family: 'montserratregular'; background-color: #ffaf42;  border-color: #ffaf42;  height: 50px;  line-height: 50px;  color:#000; padding:0; text-shadow: 0 1px 3px #fff;}

.frgtpswd, .frgtpswd:hover { font-family: 'montserratregular'; color: #222222; float: left; font-size: 11px; margin: 0 0 7px; text-align: center; width: 100%;}

.lgnsup { font-family: 'montserratregular';  color: #222222; font-size: 15px; margin: 8px 0 0;  text-align: center;}

.lgnsup a {   color: #d8820c;}


/*--------------------*/
/* Registration become a driver */
/*--------------------*/

.aldymbr { color: #222222; display: inline-block; margin: 0;}

.inftitl { font-family: 'montserratregular'; color: #cf7a06;  font-size: 16px;  margin: 5px 0 0;}

.regfrm { float: left; margin:35px 0 80px; width: 100%;}

.rgfrmin { float: none; margin: 0 auto;  padding: 0 15px;}

.calicn, .calicn:hover { bottom: 12px; color: #949494;  font-size: 18px;  position: absolute;  right: 33px;}

.paygtw .paymor { color: #141515;  display: inline-block;  font-size: 9px;  margin: 15px 0; padding: 0 18px;}

.paygtw a {  background: #eef4f7; border-radius: 3px; padding: 0;}

.paygtw a img { display: inline;}

.bnkaccicn, .bnkaccicn:hover { font-family: 'montserratregular'; background: #eef4f7; border-radius: 3px; color: #141515; float: right; font-size: 15px; height: 50px; line-height: 50px; text-align: center; text-decoration:none;}

.agrytrms label.custom-control { padding: 0 0 0 30px;}

.agrytrms label span.custom-control-indicator { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: 1px solid #11181d; border-radius: 0; height: 14px; width: 14px;
  top: 3px;}

.agrytrms label span {  color: #191919;  font-size: 14px;  font-weight: normal;}

.agrytrms .custom-control-input:focus ~ .custom-control-indicator, .agrytrms .custom-control-input:active ~ .custom-control-indicator, .agrytrms .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {  box-shadow: none;}

.rgfrmin .agrytrms {  margin: 28px 0 0;}

.rgfrmin .accprbtn {  margin: 10px 0 0;}


/*--------------------*/
/* Registration new user */
/*--------------------*/

.agrytrms.agr2 { margin: 47px 0 0;}

.rgnwus .accprbtn {  margin: 0;}

.prcsec.rgnwus {  margin: 20px 0 0;}

.acptmn {
  background: #f3f3f3;
  border-radius: 5px;
  margin: 30px 0 0 !important;
  padding: 16px 10px;
  text-align: center;
}


/*--------------------*/
/* Map view */
/*--------------------*/

.mapmain {  margin-bottom: 100px;}

.mapviw {  padding: 0; margin: 32px 0 0;}

.mapimg {  margin:32px 0 30px;}

.mapimg img { width: 100%;}

.lstvbtn {  float: left;}

.lftgdv {  padding-left: 0;}

.lstvbtn a {  background: #ffaf42;  border-radius: 5px;  color: #000;  display: inline-block;  font-family: "montserratregular";  font-size: 18px;  height: 49px;  line-height: 49px;
  margin: 0;  text-align: center;  text-decoration: none;  text-shadow: 1px 1px 1px #a0a0a0;  width: 170px;}

.lstvbtn a i {  font-weight: lighter;  margin: 0 14px 0 0;}

.pcdst { margin: 9px 0 0 13px;  display: inline-block;}

.pcdst > li {  display: inline-block;}

.pcdst li a { font-family: 'montserratlight';  color: #0c0c0c;  font-size: 15px;  margin: 0 15px;}

.pcdst li a i {  color: #000000;  font-size: 24px;  margin: 0 10px 0 0;  position: relative;  top: 4px;}

.pcdst li a i.active {  color: #c17002;}

.rttgdv {  float: right;  padding-right: 0;  text-align: right;}


/*--------------------*/
/* Notice for Buyer */
/*--------------------*/

.ntcbyr {  margin:110px 0 170px;  text-align: center;}

.ntcbyr h6 {  color: #141414;  font-size: 18px;  margin: 0;}

.ntcbyr h3 {  color: #141414;  font-size:20px;  margin:12px 0; font-family: 'montserratregular';}

.ntcbyr p {  color: #312f2f;  font-size:14px;  margin: 0; }

.ntcbyr h4 {  color: #141414;  font-size:18px;  margin:32px 0 12px;}

.ntcbyr .tim {  color: #312f2f;  font-size:14px;  margin:0;}

.tim img { margin: 0 4px 0 0;  position: relative;  top: -1px;}


/*--------------------*/
/* Notification for Driver */
/*--------------------*/

.ntfdrv {   margin:13px 0 65px;}

.frmtsec h3 { background: #313131; color: #fff; display: inline;  float: none; font-family: "montserratsemi_bold"; font-size: 13px; margin: 0; padding: 1px 6px; position: relative;
  text-transform: uppercase;  top: -10px;  width: auto;}

.frmtsec h4 { font-family: 'montserratregular';  color: #312f2f;  font-size: 17px;  margin: 12px 0 10px; }

.frmtsec { background: #f7fafc;  border-radius: 5px;  display: block;  margin: 38px auto 19px;  padding: 0 10px 22px;  width: 430px;}

.frmtsec .lct img {  margin: -3px 9px 0 0;}

.frmtsec2 {  margin: 30px 0 0;  text-align: center;}

.frmtsec2 .lct { display: inline; margin: 0 15px;  width: auto;}

.frmtsec2 .lct img {  margin: -2px 6px 0 0;}

.frmtsec2 > h3 { font-family: 'montserratregular';  color: #312f2f;  font-size: 13px;  margin:35px 0 0;  text-transform: uppercase; letter-spacing: 3px;}

.frmtsec2 > h4 { font-family: 'montserratultra_light'; color: #e18c15; font-size: 40px; margin: 5px 0 0;}

.frmtsec2 a { background: #ffaf42;  border-radius: 5px;  color: #000; display: inline-block; font-family: "montserratregular"; font-size: 18px; height:50px; line-height:50px;
    margin: 35px 0 0;  text-align: center;  text-decoration: none; text-shadow: 1px 1px 1px #a0a0a0; width: 180px;}

	
	
/*--------------------*/
/* Notification to Driver(After scan code)	 */
/*--------------------*/
	
	
.ntftdrvasc { margin:44px 0 105px;}	
	
.ntftdrvasc p {   margin:20px 0 0;}

.ntfdrprc { margin: 13px 0 0; text-align: center;}	
	
.ntfdrprc h3 { color: #141414; display: inline-block; font-family: "montserratlight"; font-size: 18px; margin: 0 5px 0 0; position: relative; top: -9px;}

.ntfdrprc h4 { display: inline-block; color: #e18c15; font-family: "montserratultra_light"; font-size: 40px; margin: 5px 0 0;}	
	
.ntfdrprc p {  color: #141414;  font-size: 18px;}	
	
.ntfdrbtns { margin: 45px 0 0; text-align: center;}

.ntfdrbtns .askbtn, .ntfdrbtns .accprbtn  { display: inline-block;  float: none;}	


/*--------------------*/
/* Notification to seller */
/*--------------------*/

.drvntndtl { float: none;  margin:17px auto 105px;}

.drvdtl { background: #f7fafc;  border-radius: 5px;  min-height: 230px;  padding: 20px;  float: left;}

.drvntndtl h3 { margin-bottom:30px;}

.drvimg { border: 4px solid #fff; border-radius: 50%;  height: 116px;  overflow: hidden;  width: 116px;}

.drvdtlnm > h3 { color: #312f2f;  font-size: 19px;  margin: 5px 0 3px;  text-align: left;}

.drvdtlnm  p{ color: #d37d06;  font-size: 14px;  margin:0 0 10px;  text-align: left; line-height:20px;}

.dtltxt p { color: #312f2f;  font-size: 14px;}

.avltm {  margin: 0 0 35px;}

.avltm h4 { font-family: 'montserratlight';  color: #312f2f;  font-size: 16px;  margin: 4px 0 0;  text-align: left;}

.avltm h4 b { font-family: 'montserratregular';  margin:0 4px 0 0; font-weight: normal;}

.avltm h4 img { margin: -4px 7px 0 0;}

.avltm .agrytrms label span {  font-size: 14px;}

.avltm .agrytrms.agr2 {  margin: 14px -8px 0 8px; text-align: left;}

.avltm p { font-family: 'montserratlight';  color: #312f2f;  font-size: 15px;  margin: 14px 0 0;  padding: 0 0 0 24px;  text-align: left;}

.ntfslrbrns { float: left; margin:50px 0 85px; width: 100%;}

.gntbtn {  text-align: center;}

.gntbtn .accprbtn {  display: inline-block;  float: none;}

	
/*--------------------*/
/* registration_become_a_driver Popup */
/*--------------------*/

.modal-body { display: inline-block;  padding:45px 15px 15px;  position: relative;}

.modal-dialog { margin: 100px auto 20px;  width: 430px;}

.modal-content {  border-radius: 4px; text-align: center;}

.modal-body .title-area { padding: 0;}

.modal-body .title-area h4 {  color: #141414;  font-size: 24px;}

.modal-body .frmtsec2 { float: left; margin: 0; width: 100%;}

.modal-body .frmtsec2 h3 { font-family: 'montserratlight'; color: #312f2f; font-size: 16px; font-weight: normal; letter-spacing: normal; text-transform: none;}

.frmtsec2.frmofmn > h3 {  color: #312f2f;   font-size: 16px;	margin-bottom: 12px;}

.nwfrofr { border: 1px solid #ccc; border-radius: 5px; display: inline-block; height: 45px;  overflow: hidden;  width: 160px;}

.nwfrofr .form-control { font-size: 16px;  background-color: #ededed !important;  border: medium none;  border-radius: 0;  padding: 0 0 0 10px;  width: 55px; float: left;
  height: 43px !important;}

.nwfrofr select { -moz-appearance: none;  background: rgba(0, 0, 0, 0) url("../images/pparw.png") no-repeat scroll 76% center !important;}

.nwfrofr > input {  border: medium none;  color: #949494;  float: left;  font-size: 16px;  line-height: 41px;  text-align: center;  width: 103px;}

.modal-body .agrytrms {  margin: 30px 0 40px;  text-align: center;}

.modal-content button.btn {  background: #131313;  border-radius: 5px;  color: #fff;  display: inline-block;  font-family: "montserratregular";  font-size: 18px;  height:50px;
  line-height:40px;  margin:0 0 60px;  text-align: center;  text-decoration: none;  width:260px;}
  
.modal-content button.close { border: 0 none;  color: #fff;  cursor: pointer;  font-size: 32px;  opacity: 1;  padding: 0;  position: absolute;  right: -22px; top: -29px;}

.modal-content button.close:hover {  color: #fff;  opacity: 1; }


/*--------------------*/
/* driver_profile */
/*--------------------*/


#headrbotm .container { position: relative;}

.diaggrm2 { position: absolute; right: 20px;  top: -20px;}

.drvprf { margin: 3px 0 0;}

.drvprf .uplimgs {  float: left;  margin: 0 0 15px;  width: 100%;}

.drvprf .uplimgs h5 { margin-bottom: 15px;}

.tblinfld input { border: 1px solid #d6dce0; border-radius: 6px; box-shadow: none; color: #949494; font-size: 13px; height:43px;  padding: 6px 15px; }

.tblinfld input::-webkit-input-placeholder {   color:#949494!important;}

.tblinfld input:-moz-placeholder { /* Firefox 18- */   color: #949494!important; }

.tblinfld input::-moz-placeholder {  /* Firefox 19+ */   color: #949494!important;  }

.tblinfld input:-ms-input-placeholder {     color: #949494!important;  }

.drvprf .table tr td { background: #f5f8fa; border-width:0px 1px 1px 0 !important;  padding: 13px;}

.drvprf .table tr th { border-width:0 1px 0px 0 !important; background: #e6ebee;}

.drvprf .table tr th:last-child, .drvprf .table tr td:last-child {  border-right:0;}

.drvprf .table  tr:last-child td { border-bottom:0!important;}

.tblinfld { float: left;  width: 100%;position: relative;}

.tblinfld .calicn, .tblinfld .calicn:hover {  bottom: 11px; color: #949494;  font-size: 14px;  position: absolute;  right: 10px;}

.drvprf .bypftbl {  border-radius: 4px;}

.drvprf .table {  border-top: 0 none;}


/*--------------------*/
/* Upload Item */
/*--------------------*/


.upldfrm { float: none;  margin:30px auto 0;}

.ofrsec {  margin: 16px 0 0; background: #f3f6f8; border-radius: 5px; float: left; padding:28px 15px 20px; text-align: center; width: 100%;}

.ofrsec h4 { font-family: 'montserratregular';  color: #191919;  font-size: 15px;  letter-spacing: 4px;  margin: 0 0 20px;}

.ofrcrpr {  float: left;  margin: 10px 0;  padding: 0 100px;  width: 100%;}

.ofrcrpr .col-xs-6 label {  color: #312f2f;  margin: 13px 0;  text-align: right;}

.ofrcrpr select.form-control { background-color:#fff!important;}

.ofrckbx {  float: left;  padding: 20px 200px 0;  width: 100%;}

.ofrckbx .agrytrms label span { font-family: 'montserratlight';  color: #312f2f;  font-size: 16px;  font-weight: normal;}

.cartype {  margin: 40px 0;  padding: 0 90px;}

.cartype label.col-xs-4 { font-family: 'montserratregular'; text-transform: uppercase;  color: #191919;  margin: 14px 0;  text-align: right;}

.cartype .col-xs-8 select.form-control {  background-position: 96% center !important; }

.adantrbtn {  margin: 10px 0 0;  text-align: center;}

.adantrbtn > a { font-family: 'montserratregular';  border: 2px solid #9b9fa5;  border-radius: 4px;  color: #000000;  display: inline-block; font-size: 16px; height: 50px;
  line-height: 48px;  text-align: center;  width: 280px;}

 .adantrbtn > a:hover { background:#9b9fa5;  color: #fff; text-decoration: none; }
 
 .crtpy { float: left;  margin: 30px 0 20px;  width: 100%;}

.crtpy .emntfctn { cursor: pointer;  display: inline-block;  margin: 0 0 0 5px;  position: relative;  top: -1px;}

.ntfdtinf > p { color: #737373;  font-size: 13px;  line-height: 21px;  margin: 0;}

.emntfctn:hover .ntfdtinf { display:block; }

.ntfdtinf { display:none;  background: #fff;  border-radius: 5px;  box-shadow: 0 0 10px #808080;  padding: 15px 20px;  position: absolute;  right: 110px;  top: 33px;  width: 430px;
  z-index: 9;}

.ntfdtinf span {  border-color: transparent transparent #fff;  border-style: solid;  border-width: 0 9px 11px;  height: 0;  position: absolute;  right: 156px; top: -10px; width: 0;}
 
 
 /*--------------------*/
/* Upload Picture */
/*--------------------*/
 
 .uplpic .uplimgs .imgs1 { margin: 10px auto 20px;  position: relative;  width: 130px;}

 .uplpic .uplimgs .imgs1 .imupbtn { right: 0;  width: 60px;}
 
 .uplpic .uplimgs p {  color: #312f2f;  font-size: 15px;}
 
 .uplpic .uplimgs p img { display: inline-block;  margin: -2px 5px 0 0;}
 
 #myModal .picwarng { max-width:none;  width: 850px;}
 
.picwarng .modal-content {  padding:0 80px 50px;}
 
.picwarng .title-area .title {  color: #ff1919;  padding: 10px 0 3px;}

.picwarng .modal-body p { color: #454444;  float: left;  font-size: 14px;  line-height: 28px;  margin: 28px 0 10px;}

.picwarng .modal-content a.btn { font-family: 'montserratregular'; background: #000;  border: medium none; color: #fff;  font-size: 18px;  height: 50px; line-height: 50px;
  margin: 0 10px 10px;  padding: 0;  width: 260px;}

.picwarng .modal-content a.btn.accp { background: #ffaf43; color: #010101; } 


/*--------------------*/
/* List of Item */
/*--------------------*/


.lstfiltr a.fltrtxt { width: 75px; bottom: 24px;  color: #ce7a07;  font-family: "montserratsemi_bold";  font-size: 13px;  letter-spacing: 1px;  margin: 0;  position: absolute;
  right: 17px;  text-transform: uppercase;}

.fltrtxt > img {  display: inline-block;  margin: -2px 3px 0 0;}

.lstfltxt {  padding: 0;}

.lstfltxt .rgtbarnw {  margin: 30px 0 90px;}

.fltbtns .accprbtn {  width: 190px;}

.fltbtns .askbtn {  width: 190px;}

.fltbtns .nxbcbtn {  float: right;  text-align: right; padding: 0;}

.fltbtns .ftnbbtn {  display: inline-block;  float: none;  text-align: right;}

.fltdpdwn { display:none;  border-color: transparent;  box-shadow: 0 0 10px #909090;  left: auto;  padding: 30px 15px 20px 30px;  right: 0;  width:850px;   background-color: #fff;border-radius: 4px; position: absolute; top:38px; z-index: 9;}

.fltdpdwn:after { width: 0;  position: absolute; right: 33px;    top: -10px; content: "";height: 0;border-style: solid;border-width: 0 10px 10px 10px;border-color: transparent transparent #fff transparent; }

.fltdpdwn .form-group label {  color: #312f2f;  font-family: 'montserratsemi_bold';  font-size: 13px;  font-weight: normal; margin: 0 0 10px; text-transform: uppercase;}

.fltdpdwn .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {  background-color: #000;  background-image: none;}

.fltdpdwn .custom-control-input:focus ~ .custom-control-indicator {  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #000;}

.fltdpdwn .custom-control.custom-checkbox {  float: left;  letter-spacing: 2px;  margin: 0 0 14px;  padding: 1px 0 0 18px;  width: 100%;}

.fltdpdwn span.custom-control-indicator {  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;  border: 1px solid #000;  border-radius: 50%;  height: 15px;  margin:2px 0 0 -8px;
  width: 15px;}

a.fltgobtn {  background: #ffaf42;  border-radius: 5px;  color: #000;  float:right;  font-family: "montserratregular";  font-size: 18px;  height:38px;  line-height:38px;
  margin:51px 39px 0 0;  text-align: center;  text-decoration: none;  text-shadow: 1px 1px 1px #a0a0a0;  width:80px;}
  
  
  
 /*--------------------*/
/* List of Driver */
/*--------------------*/
  
  
.lstdrvtb .bypftbl .table tbody tr td {  font-size: 14px;}
  
 .lstdrvtb .nxbcbtn {  text-align: center;  margin: 10px 0 0;}
 

/*--------------------*/
/* Item Details */
/*--------------------*/
 
 
.wddslcr .form-group { float: none;  margin: 0 auto 15px;}
 
 
 /*--------------------*/
/* Driver Profile_after login 2 */
/*--------------------*/
 
.dr2frm {
  float: none;
  margin: 30px auto 0;
  padding: 0 15px;
} 
 
 
 .dgrgr2 {
  top: 80px;
}
 
 .drprcrp {
    margin: 30px 0 0;
}

.drprcrp h5 {
  text-align: center;
}

.drprcrp .uplimgs {
  margin: 0 auto;
  width: 60%;
}

h5.drptrp {
  margin: 50px 0 15px;
}

.acticns > a {
  margin: 0 5px;
}

.drptbtrp tbody tr td {
  padding: 10px 15px;
}

.lstfiltr {
  position: relative;
}

.drls2 h5.drptrp {
  margin: 30px 0 20px;
}

.drls2 .lstfiltr a.fltrtxt { text-decoration: underline; right: 0;
  bottom: 18px;
}
 
.drls2 .fltdpdwn {
  top: 0;
}

.drpr2btn {
  margin: 21px auto;
  width: 68%;
}

.msgddr .logpfdtl{
  border: medium none;
  left: 0;
  min-width:347px;
  width:347px;
  padding: 11px 0;
}

.msgddr ul.dropdown-menu::before {
  left: auto !important;
  right: 20px !important;
}

.msgddr .dropdown-menu {
  border-radius: 2px !important;
  border-top: 0 none !important;
  left: auto !important;
  margin: 19px 0 0 !important;
  padding:0;
  right: 0;
}

.nwmsg {
    color: #47494b;
    font-size: 13px;
    font-weight: 600;
}

.nwmsg i {
  margin: 0 3px 0 0;
}

.msgddr .logpfdtl li {
  border-bottom: 1px solid #e5e5e5;
  padding: 18px 31px !important;
  width: 100%;
}

.msgddr .logpfdtl li:last-child {
  border-bottom:none;
}

.msgddr .logpfdtl li a {
  color: #47494b !important;
  font-size: 13px !important;
  line-height: 19px;
  padding: 0 !important;
  white-space: normal;
}

.msgvwall {
  text-align: center;
}

.msgddr .logpfdtl li.msgvwall > a {
  color: #f49a1e !important;
  font-weight: 600 !important;
}



/*--------------------*/
/* Responsive */
/*--------------------*/


@media(max-width:1200px ){

.srvcsbg {  padding: 12px 32px;}	

.footin {  padding: 5px 0 20px;}

.cpyryt > a, .cpyryt > a:hover {  margin: 0 5px;}

.pcdst li a { margin: 0 9px;}

.lgnbtns > a {  padding: 0 8px;}

.header .navbar-nav > li > a {  padding: 0 8px;}

.ofrcrpr {  padding: 0 30px;}

.ofrckbx {  padding: 20px 130px 0;}
	
.cartype {  padding: 0 23px;}	

.ntfdtinf {  right: 34px;}
	
}	

@media(max-width:991px ){
	
.nav-top {  left: 0;  right: auto;}
	
.nav-top > li {  margin: 0 5px;}
	
.srvcsbg { min-height: 158px;  padding: 12px 26px;}
	
.serin ul li {  font-size: 13px;}	

.lftbar {  padding: 0;  margin-bottom: 20px; float: left;width: 100%;}

.rgtbar {  padding-right: 15px; float: left;   width: 100%;}

.cpyryt {  text-align: center;}

.soclicons {  text-align: center; margin:0px 0 0;}

.addsection {  margin: 0 0 30px;  padding: 0 5px;}

.pcdst {  margin: 9px 0 0;}

.soclicons label {  font-size: 17px;}

.drvdtl {  margin: 0 0 30px;}

.ntfslrbrns {  margin: 0 0 85px;}

.lgnbtns.tplgbtn {  margin: 50px 0 0;}

.navbar.respnav {  width: 52px;}

.respnav .collapse .navbar-nav { background: #f2f2f2;  border-radius: 5px;  padding:0;  position: absolute;  right:17px;  top: 40px;  width: 220px;  z-index: 9;}

.respnav .nav li { border-bottom: 1px solid #fff;  width: 100%;}

.respnav .nav li:last-child { border-bottom:none;}

.respnav .nav li a {  padding: 8px 20px;  text-align: right;}

.infnav {  text-align: right;}

.aldymbr {  font-size: 12px;}

.lgnbtns > a {  padding: 0 4px;}

.rgtbarnw { margin-top: 40px;}

.diaggrm2 {  right: 20px;  top: -41px;  width: 100px;}

.diaggrm2 > img { width: 100%;}

.uplpic .uplimgs p {  margin: 0 0 50px;}

#myModal .picwarng {  width: 85%;}

.picwarng .modal-content { padding: 0 50px 50px;}

.fltdpdwn {  width: 97%;}

.resbtntp.smlgpfr { display: inline-block;
  margin: 40px 0 0;
  width: 200px;
}

.navbar.respnav {
  margin: 0 0 -31px;
  top:-25px;
}

.respnav .nav.navbar-nav {
  background: #fff;
  border-radius: 0;
  box-shadow: 0 0 12px #c0c0c0;
  right: 4px;
  top: 48px;
}

.respnav .nav li a {
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
}

.respnav #navbarResponsive2 {
  position: absolute;
  right: 0;
  top: 0;
}

.nvscbflgn .navbar.respnav {
  top:-27px;
}
.nvscbflgn .tplgbtn {
  margin-top: 38px;
}

.drprcrp .uplimgs {
  width: 90%;
}

.drpr2btn {
  width: 90%;
}

.msgddr .dropdown-menu {
  top: 17px;
}
	
}


@media(max-width:767px ){

.logo > img {  width: 130px;}

.nav-top { left: 0;  right: auto; bottom: 11px;}

.lgnbtns {  padding: 15px 0 0;}

.serin {  margin: 0 0 25px;}

.srcform form .form-group label {  float: left;  width: 11%;}

.srcform form .form-group .col-sm-3 {  float: left;  width: 29%;}

.abotsection {  padding: 0;}

.askbtn a, .accprbtn a {  margin: 0 0 15px;}

.uplimgs { float: left;  width: 100%;}

.bystep {  width: 100%;}

.title-area {  padding: 0;}

.cldlogoimg img { display: inline;  margin: 0 0 20px;}

.cpyryt > a, .cpyryt > a:hover {  margin: 0 10px;}

header .nav-top {  float: right;}

.lstvbtn {  display: inline-block;  float: none;}

.lftgdv {  padding: 0 15px 20px;  text-align: center;}

.ntfslrbrns {  margin: 0 0 85px;}

.modal-body .agrytrms { float: left;  width: 100%;}

.nav-top li a {  font-size: 12px;}

header .lgnbtns {  padding: 0;}

.bystep li a {  width: 162px;}

.diaggrm2 {  top: 10px;}

.drvprfhd { margin: 65px 0 0;}

.tblinfld input {  min-width: 134px;}

.upldfrm {  float: left;  margin:30px 0 100px!important; width: 100%;}

.ofrcrpr .col-xs-6 label { text-align: left;  width: 100%;}

.ofrcrpr .col-xs-8 {  width: 100%;}

.ofrckbx {  padding: 20px 0 0;}

.cartype label.col-xs-4 {  text-align: left;  width: 100%;}

.cartype .col-xs-8 { width: 100%;}

.fltbtns .ftnbbtn {  width:49%!important;}

.lstfltxt { float: left;  width: 100%;}

.lstfiltr a.fltrtxt {  bottom:0;  float: right;  position: relative;  right: 0;  width: 75px; margin: 20px 0 0;}

.fltbtns .accprbtn {  width: 50%;}

.fltdpdwn {  top: 105px;}

a.fltgobtn {  margin: 10px 33px 0 0;}

.ntfdtinf {  right: auto;  width: 80%;}

.ntfdtinf span {  left: 116px;  right: auto;}

.navmbsec.nvscbflgn {
 
   width: 200px;
}

.nvscbflgn .navbar.respnav {
  top: -25px;
}

.drls2 .fltdpdwn {
  top: 40px;
}

.drprcrp .uplimgs {
  float: left;
  margin: 10px 0 30px;
  width: 100%;
}

.drpr2btn { margin: 21px 0 40px;
    float: left;
    width: 100%;
}

.drpr2btn .askbtn, .drpr2btn .accprbtn {
  width: 50%;
}

.newhdr .navmbsec.nvscbflgn {
    width: 206px;
}

}	

@media(max-width:631px ){

.bystep li a {  font-size: 15px;  padding: 10px 11px;  width: auto;}

}

@media(max-width:600px ){
	
.mesuresec .col-xs-2.form-group {  width: 50%;}
	
}	


@media(max-width:550px ){
	
.header {  margin: 15px 0 0;}
	
.logo {  float: left;}

.lnglgnsec {  top:0;}

.nav-top { bottom: -22px;  left: auto;  right: 18px;  top: auto;}

.serin {  padding: 0;}

.formsection {  margin: 10px 0 0;}

.srcform form .form-group label {  width: 100%;}	

.srcform form .form-group .col-sm-3 {  margin: 0 0 10px;  padding: 0;  width: 100%;}	

.srcform form .form-group {  margin: 0 0 10px;}

.frmdrbtns {  padding: 0;}

.frmdrbtns a {  margin: 0 0 12px;  width: 100%;}

.abutin p {  font-size: 14px;}

.footin {  padding: 5px 0 20px;}

.ddwnprbtn > a { font-size: 14px;  width: 280px;}

.dtprvcy .title-area {  padding: 0 10px 15px;}

.drvdtlnm { width: 100%;    padding: 0;}

.avltm {  padding: 0;}

.header .col-sm-3.col-xs-6.padd {  width: 133px;}

.navmbsec {  width: 200px;}

.lgnbtns > a { font-size: 13px; padding: 0 4px;}

.infnav {  padding: 0 8px 0 0;}

.resbtntp.smlgpfr {
    width: 70%;
}

.byfrmot.frmdrpr{
  margin-bottom: 0;
}
	
}

@media(max-width:479px ){

.uplimgs .col-sm-3.col-xs-3 {  margin: 0 0 15px;  width: 50%;}

.logo2 {  display: inline-block;  margin: 8px 0 0;}

.logo2 > img {    width: 100%;}

.bystep li a {  font-size: 12px;}

.dtprvcy .title-area .title {  font-size: 18px;}

.infnav {  padding: 0;}

.nav-top li a {  font-size: 12px;}

header .lgnbtns {  padding: 0;}

.sgin {  padding: 50px;  width: 100%;}

.paygtw .paymor {  padding: 0 12px;}

.bnkaccicn, .bnkaccicn:hover {  font-size: 13px;}

.agrytrms label span {  font-size: 12px;}

.rgfrmin .agrytrms {  margin: 15px 0;}

.title-area .title {  font-size: 22px;}

.avltm h4 {  font-size: 12px;}

.avltm .agrytrms.agr2 {  margin: 14px 0 0;  padding: 0;}

.avltm .agrytrms label span {   font-size: 12px;}

.ntfslrbrns .col-sm-6 { padding: 0;}

.modal-dialog {  margin: 60px auto 20px;   width:84%;}

.modal-content button.btn {  width: 200px;}

.frmtsec { width:100%;}

header .lgnbtns {  width: 132px; margin: 9px 0 0;}

.infnav { bottom:13px;  padding: 0;  position: absolute;  right: 32px;  text-align: center;  width: 93%;}

header {  padding: 15px 0 30px;}

.ofrcrpr { padding: 0;}

.mesuresec .form-group {  width: 50%;}

.ofrsec .col-xs-6 { padding: 0;}

.ofrsec {  padding: 28px 2px 20px;}

.picwarng .modal-content a.btn {  width: 100%;  margin: 0 0 10px;}

.picwarng .modal-content {  padding: 0 20px 50px;}

.navmbsec {
  width:188px;
}

.resbtntp.smlgpfr {
    width: 83px;
}

.dropdown-menu.logpfdtl {
  right: 0;
}

.newhdr {
  padding: 15px 0 10px;
}

.drpr2btn .askbtn, .drpr2btn .accprbtn {
  width: 100%;
}

.msgddr .logpfdtl {
  width: 280px;
}

}	


@media(max-width:400px ){
		
.logo > img {  width: 100px;}

.lnglgnsec { top:0; width: 130px;}

.nav-top { bottom:-34px;}

.lgnbtns > a {  font-size: 12px;  height: 32px;  line-height: 29px;  margin: 0 0 0 3px;  padding: 0 7px;}

.bystep li {  border-left: 1px solid #d1dbe1;  border-right:none; }

.bystep li:first-child {  border-left:none;  }

.bystep li a {  font-size: 11px;  padding: 10px 2px;}	

.ddwnprbtn > a { font-size: 12px;  width: 240px;}

.sgin { padding: 50px 20px;}

.frmtsec2 .lct { margin: 0 5px;}

.navmbsec {  width:158px;}

.lgnbtns.tplgbtn {
  margin: 35px 0 0;
}

.diaggrm2 {  top: -30px;}

header {  padding: 15px 0 50px;}

.fltdpdwn {  padding: 30px 5px 20px 10px;}

.navmbsec.nvscbflgn {
  width: 165px;
}

.lgnbtns > a {
  font-size: 11px;
  margin: 0 0 0 1px;
  padding: 0 4px;
}

.respnav .navbar button.navbar-toggler {
  margin: 0;
}

.navbar.respnav {
  width: 40px;
}

.newhdr .navmbsec.nvscbflgn {
  width: 150px;
}

.newhdr .lgnbtns.tplgbtn {
  float: left;
}

.newhdr .nvscbflgn .navbar.respnav {
  top: 14px;
}


}	


@media(max-width:350px ){
	
.newhdr .nvscbflgn .navbar.respnav {
  top: 8px;
}

.header .col-sm-3.col-xs-6.padd { width: 107px;}

.navmbsec {  width: 140px;}

.navmbsec .lgnbtns.tplgbtn { margin: 29px 0 0;}

header .lgnbtns {  width: 118px;}

.lgnbtns > a {  padding: 0 4px;}

.adantrbtn > a { width: 100%;}

.lgnbtns.usrimg {  margin: 3px 0 0;  padding-top: 0;}

.lgnbtns.usrimg a {  font-size: 10px;  padding: 0;  width: 68px;}

.lgnbtns.usrimg > span {  height: 35px;  width: 35px;}

.lgnbtns.usrimg img {  width: 100%;}


.navmbsec {
    width:145px;
}

.lgnbtns.tplgbtn {
  float: left;
}

/* .resbtntp.smlgpfr  {
    width: 67px; margin: 31px 0 0;
} */

.resbtntp.smlgpfr {
  margin: 31px 0 0;
  width: 65px;
}

.aftlgnimg {
  margin: 0;
}

.aftlgnimg .dropdown-toggle span img {
  width: 30px;
}

.navbar.respnav {
  top:-25px;
}

#homepage .navbar.respnav {
  top: -52px;
}

.navmbsec.nvscbflgn {
    width: 145px;
}

.nvscbflgn .tplgbtn {
  float: left;
}

.nvscbflgn .navbar.respnav {
  top: -53px;
}
	

}

